body { 
  padding-top: 80px; 
  background-image: url("https://i.pinimg.com/originals/f3/96/68/f3966861ae11e14f3f51ddbd62b37e4c.gif");	
  background-size: cover;
}

nav {
	padding: 20px 20px 30px;
	background-image: url("https://i.imgur.com/uKl6bv4.png");
	background-position: 5.5% 67%;
	background-size: 325px 125px;
  background-repeat: no-repeat;
}

.navbar-brand {
  padding-right: 0;	
  padding-left: 196px;
  padding-top: 38px;
  font-family: 'Schoolbell', cursive;
	font-size: 18px;
	color: white; 
}

.navbar-form {
	padding-left: 50px;
}

#message-input {
	min-width: 50vw;
}

.cat-clear, .cat-theme {
  background-image: url("https://littlecaesars.com/Portals/0/img/Promos/EMB/Mobile/Home_PizzaButton_Background_EMB_MobileSite.jpg");
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px black;
}

.cat-random {
  background-image: url("https://i.pinimg.com/originals/e6/bd/a2/e6bda29991dbb0702fabc85df2da791c.png");
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px black;
}

#cat-button {
  text-align: center;
  margin-bottom: 25px;
}

/*****MESSAGE BOARD STYLING*****/

#message-board {
  border-radius: 20px;
  background-color: white;
  width: 90%;
  padding: 24px;
  margin: 2em auto;
  height: 80vh;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 3px solid white;
  font-family: 'Roboto', sans-serif;
 
}

/*div to overlay messageboard for opacity*/
.cat-container {
  border-radius: 20px;
  opacity: 0.7;
  width: 90%;
  padding: 24px;
  margin: 2em auto;
  height: 80vh;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 3px solid white;
  z-index: 1;
}

.messageCard {
  font-family: 'Indie Flower', cursive;
  font-size: 10px;
  font-weight: bold;
  margin: 20px;
  padding: 15px;
  border: 2px solid purple;
  border-radius: 15px;
  box-shadow: 2px 2px 5px #888888;
}

#message {
  font-size: 15px;
}

.deleteBtn {
  border-radius: 10px;
}