body { 
	padding-top: 45px; 
}

#message-input {
	min-width: 50vw;
}

#message-board {
  width: 90%;
  padding: 2% 3% 2% 0;
  margin: 2em auto;
  height: 80vh;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 2px solid lightgray;
}
