body { 
	padding-top: 80px; 	
}

nav {
	padding: 20px 20px 30px;
	background-image: url("http://moziru.com/images/green-clipart-speech-bubble-17.png");
	background-position: 5.5% 67%;
	background-size: 200px 90px;
  background-repeat: no-repeat;
}

.navbar-brand {
  padding-right: 0;	
  padding-left: 60px;
  font-family: 'Shrikhand', cursive;
	font-size: 3em;
	color: #606060;
	font-size: 3em;
}

.navbar-form {
	padding-left: 50px;
}

#message-input {
	min-width: 50vw;
}

/*****MESSAGE BOARD STYLING*****/

body {
	background-color: antiquewhite;
}

#message-board {
  width: 90%;
  padding: 24px;
  margin: 2em auto;
  height: 80vh;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 2px solid lightgray;
	border-radius: 10px;
	background-color: white;
  font-family: 'Roboto', sans-serif;
}

.messageCard {
	margin: 7px auto;
	padding: 10px;
	border-radius: 5px;
	border: 2px solid #606060;
	box-shadow: 2px 2px 5px #888888;
	background-color: whitesmoke;
}

.timestamp {
	font-size: 10px;
}

.deleteBtn {
	display: inline-block;
	font-size: 10px;
}


/*hides cat randomize button on main page*/
.hidden-cat {
	display: none;
}